@CHARSET "UTF-8";

body {
	background-color: silver;
	font-family: Open Sans;
	font-size: 1.6em;
}

#wrapper {
	margin: 0 auto;
}

#header {
/* 	border: 1px solid cyan; */
	padding: 2px;
	width: 706px;
	margin: 0 auto;
	overflow: hidden;
}

#loginform {
	float: left;
	line-height: 50px;
	width: 30%;
}
#logoart {
	float: left;
	width: 67%;
}
#contentwrap {
	overflow-x: hidden;
	overflow-y: hidden;

}
